
body {
    margin: 0;
    font-family: Arial, Verdana, sans-serif;
}
.app{
    width: 100%;
    justify-content: center;
    display: flex;
    background-color: red;
}
.main_container{
    width: 1200px;
    display: flex;
    flex-direction: column;
}
.header{
    background: linear-gradient(white,whitesmoke, gray);
}
.header_top{
    height: 40px;
    display: flex;
    flex-flow:row wrap ;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
    margin: 5px;
}
.header__left{
    display: flex;
}
.header__left li,
.header__left li{
    color: white;
    font-weight: bold;
    margin-left: 10px;
}
.header__left span{
    color: #24baa0;
    font-weight: bolder;
}
.header__right{
    display: flex;
    flex-flow:row wrap ;
    background-color: black;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
    position: relative;
}
.header__right>li{
    justify-content: flex-end;
    margin-left: 10px;
    color: white;
    font-weight: bold;
    position: relative;
    background-color: black;
}
.hover__menu1,
.hover__menu2,
.hover__menu3{
    display: none;
    width: 150%;
    height: 100px;
    position: absolute;
}
.header__right>li:hover ul
{
    position: absolute;
    display: block;
    height: 100px;
    padding-top:18px;
    left:-20px;
    background-color: rgba(0 0 0 0);


}
.header__bottom{
    height: 400px;

}

.hover__menu1>li,
.hover__menu2>li,
.hover__menu3>li{
    background-color: black;
    padding: 10px;

}
.hover__menu1:before,
.hover__menu2:before,
.hover__menu3:before{
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: black;
    position: absolute;
    left: calc(50% - 5px);
    top: 13px;
    transform: rotate(45deg);
    }

.main{
    background-color: white;

}
.chairChoose{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 100%;
}
